body {
  margin: 0;
  padding: 20px 0;
  font-family: "Open Sans Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}

.clickable {
  cursor: pointer;
}
